node_modules
build
# Directory 
lib-cov
# Coverage
coverage

# nyc test coverage
lcov.info
.nyc_output
*processinfo
# dotenv environment variables file
.env
# Logs
logs
git rm —cached
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
