@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700|Work+Sans:100,200,300,400,500,600");
:root {
  --headlinesFont: 'Josefin Sans', sans-serif;
  --bodyFont: 'Work Sans', sans-serif;
	--primary-black: #000;
  --primary-color: rgba(39, 60, 117,1.0);
  --secondary-color: rgba(64, 115, 158,1.0);
	--main-white: #f5f5f5;
	--primary-gray: #6c757d;
	--light_glay: #9aa4ac;
  --dark-gray: #414951;
  --first-translate:rgba(39, 60, 117,.2);
  --second-translate:rgba(39, 60, 117,.5);
  --third-translate:rgba(39, 60, 117,.7);
    --main_gradient: linear-gradient(45deg, 
    rgba(39, 60, 117,1.0),
    rgba(64, 115, 158,1.0),
    rgba(72, 126, 176,1.0));
    --nav_gradient: linear-gradient(180deg, 
    rgba(39, 60, 117,1.0),
    rgba(39, 60, 117,.5),
    rgba(39, 60, 117,.2));
    --trans_gradient: linear-gradient(45deg, 
    rgba(39, 60, 117,.9),
    rgba(39, 60, 117,.6),
    rgba(39, 60, 117,.3));
}
a{
  text-decoration: none;
}
* {
    box-sizing: border-box;
  }
body {
    font-family: var(--bodyFont);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: var(--light_glay);
    background: var(--main-white);
    margin: 0;
}
/* modal */
.modal-content{
  padding-top: 25%;
  display: none;
  width: 100%;
  top: 0;
  z-index: 50;
  margin: 0px;
  height: 900px;
  position: fixed;
  overflow: hidden;
  background: rgba(0, 0, 0, 1);
}
.modal {
  width: 500px;
  height: 650px;
  background: var(--main-white);
  display: flex;
  z-index: 15;
  margin-left: 50%;
  flex-direction: column;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.5607843137);
  overflow: hidden;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.modal .modal__thumb {
  position: relative;
  height: 281px;
  box-shadow: 0px 0px 130px 0 rgba(0, 0, 0, 0.38);
}
.modal .modal__thumb #close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  background: #000;
  color: var(--main-white);
  text-align: center;
  line-height: 36px;
  border-bottom-left-radius: 18px;
  font-size: 22px;
  cursor: pointer;
  z-index: 1;
  transition: all 200ms ease;
}

.modal .modal__thumb h3 {
  text-align: center;
  position: absolute;
  margin: 0;
  width: 100%;
  color: var(--main-white);
  font-family: var(--headlinesFont);
  font-size: 25px;
  height: 100%;
  background: linear-gradient(to bottom, var(--third-translate), transparent);
  padding: 2.4rem 0 0;
}
.modal .modal__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}
.modal .modal__content {
  flex: 1;
  padding: 0 2em 1em;
}
.modal .modal__content .content__header .row-wrapper {
  display: flex;
  padding: .55em 0 .3em;
  border-bottom: 1px solid var(--main-white);
}
.modal .modal__content .content__header .row-wrapper .modal-title {
  font-family: var(--headlinesFont);
  font-weight: 600;
}
.modal .modal__content .content__header .modal-details {
  display: flex;
  list-style: none;
  padding: 1.4em 0 1em;
  margin: 0;
  justify-content: space-between;
}
.modal .modal__content .content__header .modal-details .modal-details-item {
  flex: 1;
}
.modal .modal__content .content__header .modal-details .modal-details-item i {
  font-size: 30px;
}
.modal .modal__content .content__header .modal-details .modal-details-item .value {
  color: var(--primary-color);
  margin-left: .35em;
  vertical-align: bottom;
  font-size: 24px;
  font-weight: 600;
}
.modal .modal__content .content__header .modal-details .modal-details-item .pro-type {
  display: block;
  margin-top: -4px;
  color: var(--primary-black);
  font-family: var(--headlinesFont);
  font-size: 21px;
  font-weight: 300;
}
.modal .modal__content .description {
  margin: .2em 0 1.8em;
}
.modal .modal__content .content__footer {
  text-align: center;
  margin: 0 3rem;
}
.modal .modal__content
.content__footer a {
  font-family: var(--headlinesFont);
  display: inline-block;
  background: var(--main_gradient);
  padding: .45em 1em;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: var(--main-white);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: .2px;
  font-size: 17px;
  transition: box-shadow 250ms ease, -webkit-transform 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease;
  transition: transform 250ms ease, box-shadow 250ms ease, -webkit-transform 250ms ease;
}
.modal .modal__content .content__footer a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 10px 34px 0 var(--second-translate);
}

/* modal */
/* search */

.search-form input[type="submit"] {
  background:var(--main_gradient);
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  color:var(--main-white);
}

.search-form > * {
  border:0;
  padding:10px;
  width: 100%;
  background:var(--main-white);
  line-height:20px;
  font-size: 14px;
  border-radius: 0;
  outline:0;
  border-right:1px solid rgba(0,0,0,0.2);
  /* -webkit-appearance:none; */
}

.search-form > *:last-child {
  border-right: 0;
}

.search-form {
  z-index: 10;
  width: 100%;
  border:20px solid var(--trans_gradient);
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  justify-self: center;
}

/* search */
h2{
    color: var(--main-white)
}
html {
    scroll-behavior: smooth;
  }
.container{
    margin: 0;
}
.properties{
    background: var(--main-white);
    margin: 30px 0;
    opacity: 0;
    z-index: 10;
    animation: fade-in 0.75s 0.25s ease-in forwards;
}
.header {
    min-height: 50vh;
    width: 100%;
    background-image: 
   url('../assets/images/cover.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
}
.logo{
width: 20px;
margin-left: 25px;
height: auto; 
}
.md-icon{
display: none;
width: 30px;
margin-left: 25px;
height: auto; 
}
.text-box {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: space-between;
  width: 50%;
  height: auto;
  margin: auto 50px;
  opacity: 0;
  z-index: 10;
  transform: translateX(-50%) translateY(-50%);
  animation: fade-in 0.75s 0.25s ease-in forwards;
  text-align: left;
  justify-content:center;
  align-items: center;
}
.heading-primary {
    color: var(--main-white);
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 5px;
}

.heading-primary-sub {
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7.4px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 10px;
    transition: all .2s;
    position: inherit;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background: var(--main_gradient);
    color: var(--main-white);
  font-size: 14px;
}
/* properties */
.my-property{
  display: none;
  overflow-x: auto;
  width: 100%;
  height: 100%;
  padding: 0px 20px;
}
.add-property{
  display: block;
  width: 100%;
  height: 100%;
}
* {
    box-sizing: border-box;
  }
  .property-card {
    display: flex;
    flex-direction: column;
    float: left;
    width: 48%;
    margin: 0.5rem auto;
    margin-left: 12px;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
    margin-bottom: 1.6%;
    background: var(--main-white);
    line-height: 1.8;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;
  }
  .property-card a {
    color: inherit;
  }
  .property-card a:hover {
    color: var(--primary-color);
  }
  .property-card:hover .photo {
    transform: scale(1.05) rotate(3deg);
  }
  .property-card .meta {
    position: relative;
    z-index: 0;
    height: 250px;
  }
  .property-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .property-card .details, .property-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }
  .property-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(0, 0, 0, .6);
    color: var(--main-white);
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
  }
  
  .property-card .description {
    padding: 1rem;
    background: var(--main-white);
    position: relative;
    z-index: 1;
  }
  .property-card .description h1 {
    line-height: 1;
    margin: 0;
    color: var(--primary-color);
    font-size: 1.7rem;
  }
  .property-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--dark-gray);
    margin-top: 5px;
  }
  .property-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .btn-details{
    padding: 5px 30px;
    width: 100%;
    background: var(--main_gradient);
    color: var(--main-white);
    font-family: var(--headlinesFont);
    font-weight: 900;
    border-radius: 5px;
  }
  .property-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .property-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 2px;
    background: var(--nav_gradient);
    width: 100%;
    top: -0.75rem;
    border-radius: 12px;
  }
  .property-card:hover .details {
    left: 0%;
  }
  .image-card {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-left: 0;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
  .image-card img{
    width: 250px;
    height: 250px;
  }
  .file-upload-container {
      width: 100%;
      height: 50px;
      overflow: hidden;
      background: var(--primary-color);
      user-select: none;
      transition: all 150ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      text-align: center;
      color: white;
      line-height: 50px;
      font-weight: 300;
      font-size: 20px;
  }
  
  .file-upload-container:hover {
      cursor: pointer;
      background: var(--secondary-color);
  }
  /* nav */
  nav {
    position: fixed;
    z-index: 30;
    width: 100%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    font-size: 10px;
    padding: 10px 0 0px 0;
  }
  nav .container {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  nav .container .logo img {
    height: 40px;
    width: auto;
  }
  .nav-list ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: var(--main-white);
    margin: 0;
    padding: 0;
  }
  .nav-list ul li {
    display: flex;
    align-items: center;
    font-weight: bold
  }
  
  .nav-list ul li.dropdown {
    cursor: pointer;
  }
  .nav-list ul li a, .nav-list ul li .dropdown-active {
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    color: var(--main-white);
  }
  .nav-list ul li a i.fas, .nav-list ul li .dropdown-active i.fas {
    margin-right: 8px;
  }
  .nav-list ul li a i.fa-caret-down, .nav-list ul li .dropdown-active i.fa-caret-down {
    margin-left: 4px;
  }
  .nav-list ul li.dropdown {
    position: relative;
  }
  .nav-list ul li.dropdown  {
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
    background: var(--primary-color);
    display: none;
    border: 1px solid rgba(0, 0, 0, .15);
    width: 200px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-clip: padding-box;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
  }
  /* nav */
  /* user things */
  .wrapper {
    position: absolute;
    width: 30%;
    height: auto;
    perspective: 600px;  
    right: 0%;
    opacity: 0;
    z-index: 10;
    margin: auto;
    transform: translateX(-20%) translateY(-20%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
  }
  .sign-user {
    display: none;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  .side {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 20px;
    background: var(--main-white);
    border: 0px solid var(--primary-color);
    border-radius: 12px;
    box-shadow: 2px 10px 10px 10px rgba(17, 17, 17, 0.5);
  }
  .side .content {
    color: var(--light_glay);
  }
  .side .content h2 {
    font-size: 1.2em;
    color: var(--primary-color);
  }
  .side .content .field-wrapper {
    margin-top: 30px;
    position: relative;
  }
  .side .content .field-wrapper label {
    position: absolute;
    pointer-events: none;
    font-size: 0.85em;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    transition: all ease-in 0.25s;
    color: var(--dark-gray);
  }
  .side .content .field-wrapper input[type="text"], .side .content .field-wrapper input[type="password"], .side .content .field-wrapper input[type="submit"], .side .content .field-wrapper textarea {
    -webkit-appearance: none;
    appearance: none;
  }
  .side .content .field-wrapper input[type="text"]:focus, .side .content .field-wrapper input[type="password"]:focus, .side .content .field-wrapper input[type="submit"]:focus, .side .content .field-wrapper textarea:focus {
    outline: none;
  }
  .side .content .field-wrapper input[type="text"], .side .content .field-wrapper input[type="password"], .side .content .field-wrapper textarea {
    width: 100%;
    border: none;
    background: transparent;
    line-height: 2em;
    border-bottom: 1px solid var(--primary-color);
    color: var(--light_glay);
  }
  .side .content .field-wrapper input[type="text"]::-webkit-input-placeholder, .side .content .field-wrapper input[type="password"]::-webkit-input-placeholder, .side .content .field-wrapper textarea::-webkit-input-placeholder {
    opacity: 0;
  }
  .side .content .field-wrapper input[type="text"]::-moz-placeholder, .side .content .field-wrapper input[type="password"]::-moz-placeholder, .side .content .field-wrapper textarea::-moz-placeholder {
    opacity: 0;
  }
  .side .content .field-wrapper input[type="text"]:-ms-input-placeholder, .side .content .field-wrapper input[type="password"]:-ms-input-placeholder, .side .content .field-wrapper textarea:-ms-input-placeholder {
    opacity: 0;
  }
  .side .content .field-wrapper input[type="text"]:-moz-placeholder, .side .content .field-wrapper input[type="password"]:-moz-placeholder, .side .content .field-wrapper textarea:-moz-placeholder {
    opacity: 0;
  }
  .side .content .field-wrapper input[type="text"]:focus + label, .side .content .field-wrapper input[type="password"]:focus + label, .side .content .field-wrapper textarea:focus + label, .side .content .field-wrapper input[type="text"]:not(:placeholder-shown) + label, .side .content .field-wrapper input[type="password"]:not(:placeholder-shown) + label, .side .content .field-wrapper textarea:not(:placeholder-shown) + label {
    top: -35%;
    color: var(--primary-color);
  }
  .side .content .field-wrapper input[type="submit"] {
    appearance: none;
    cursor: pointer;
    width: 100%;
    line-height: 2em;
    border-radius: 15px;
    padding: 5px;
  }
  .side .content .field-wrapper input[type="submit"]:hover {
    outline: none;
    opacity: 0.9;
  }
  .side .content .field-wrapper input[type="submit"]:active {
    outline: none;
    transform: scale(0.96);
  }
  .side .content .field-wrapper textarea {
    resize: none;
    line-height: 1.5em;
  }
  .side .content .field-wrapper textarea:focus + label, .side .content .field-wrapper textarea:not(:placeholder-shown) + label {
    top: -25%;
  }
  
  .side-front {
    transform: rotateY(0deg) translateZ(125px);
  }
  .side-back {
    transform: rotateY(180deg) translateZ(125px);
  }
  .side-right {
    transform: rotateY(90deg) translateZ(125px);
  }
  .side-left {
    transform: rotateY(-90deg) translateZ(125px);
  }
  
  
  .psw, .signup, .singin {
    display: block;
    margin: 0;
    font-size: 0.75em;
    text-align: center;
    color: var(--primary-black);
    cursor: pointer;
  }
  small {
    font-size: 0.7em;
  }
  @keyframes success {
    from {
      transform: translate(-50%, -50%) rotate(0) scale(0);
    }
    to {
      transform: translate(-50%, -50%) rotate(-45deg) scale(1);
    }
  }
  /* dashboard */
  .dashboard{
    display: none;
    width: 100%;
    height: auto;
    padding: 120px 2px 2px 10px;
    background: var(--primary-color);
    position: relative;
    border-bottom: 2px solid var(--main-white)
  }

  /* profile */
.agent{
  border-top: 2px solid var(--main-white);
  background: var(--light_glay);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
}
menu {
  width: 230px;
  padding: 0;
  z-index: 10;
  height: auto;
  background: var(--primary-color);
  border: 2px solid var(--main-white);
  box-shadow: 30px 0 30px 0 rgba(0, 0, 0, 0.2);
  margin: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  overflow-y: auto;
  overflow: hidden;
}
menu ul {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 100%;
  clear: both;
  float: unset;
}
menu ul:last-child {
  margin-right: 0;
}
menu > div {
  padding: 10px;
}

#filter_text {
  width: 100%;
  margin: 0;
}

menu .admin-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
menu .admin-menu li:first-child {
  border-top: 1px solid var(--primary-color);
}
menu .admin-menu li a {
  clear: both;
  display: block;
  padding: 10px;
  margin: 0;
  color: var(--main-white);
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  background: var(--light_glay);
  border-bottom: 1px solid var(--primary-color);
}
menu .admin-menu li a span {
  padding: 0 10px 0 0;
}
menu .admin-menu li a:hover, menu .admin-menu li a:active {
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background: var(--primary-color);
}

menu .user-profile {
  padding: 10px;
  text-align: center;
  margin-bottom: 5px;
  float: left;
}

menu .profile-pic {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 23.2317609825%;
}
menu .profile-pic:last-child {
  margin-right: 0;
}
menu .profile-pic img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 70%;
  border: 2px solid var(--primary-color);
}

menu .user-info {
  float: left;
  display: block;
  margin-right: 2.3576520234%;
  width: 74.4105869942%;
}
menu .user-info:last-child {
  margin-right: 0;
}


menu .username {
  font-size: 20px;
  text-align: center;
  color: var(--main-white);
  letter-spacing: 1px;
}

menu .filter-form {
  padding: 10px;
}

  /* profile */
  /* Form */
  .form {
    max-width: 45em;
    margin: 0 auto 0 20px;
    padding: 20px;
    background: var(--main-white);
    position: relative;
    display: flex;
    flex-flow: row wrap;
    border-radius: 2px;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: 0px 1px 0px 1px rgba(0, 0, 0, .5);
  }
  .form .label, .form .checkbox-input + label, .form .option-input + label, .form .text-input, .form .textarea, .form .select, .customSelect, .form .message, .form .button {
    padding: 0.4em 1em;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    line-height: normal;
    border-radius: 0;
    border: none;
    background: none;
    display: block;
  }
  
  .form .label {
    font-weight: bold;
    color: var(--primary-color);
    padding-top: 20px;
    padding-left: 0;
    letter-spacing: 0.025em;
    font-size: 1.125em;
    line-height: auto;
    position: relative;
    z-index: 10;
  }
  .form .label:first-child {
    padding-top: 0px;
  }
  .required .form .label:after, .form .required .label:after {
    content: " *";
    color: #E8474C;
    font-weight: normal;
    font-size: 0.75em;
    vertical-align: top;
  }
  
  .form .checkbox-input + label, .form .option-input + label, .form .text-input, .form .textarea, .form .select, .customSelect {
    font: inherit;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
    margin-right: 1px;
    background: rgba(0, 0, 0, .1);
    border-bottom: solid 1px var(--primary-color);
    color: var(--primary-color);
    position: relative;
  }
  .form .checkbox-input + label:placeholder, .form .option-input + label:placeholder, .form .text-input:placeholder, .form .textarea:placeholder, .form .select:placeholder, .customSelect:placeholder {
    color: var(--primary-color);
  }
  
  .form:not(.has-magic-focus) .checkbox-input + label:active, .form:not(.has-magic-focus) .option-input + label:active, .form:not(.has-magic-focus) .text-input:active, .form:not(.has-magic-focus) .textarea:active, .form:not(.has-magic-focus) .select:active, .form:not(.has-magic-focus) .customSelect:active, .form:not(.has-magic-focus) .customSelect.customSelectFocus, .form:not(.has-magic-focus) .checkbox-input + label:focus, .form:not(.has-magic-focus) .option-input + label:focus, .form:not(.has-magic-focus) .text-input:focus, .form:not(.has-magic-focus) .textarea:focus, .form:not(.has-magic-focus) .select:focus, .form:not(.has-magic-focus) .customSelect:focus {
    background: transparent;
  }
  
  .form .message {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 100;
    font-size: 0.625em;
    color: var(--main-white);
  }
  
  .form .checkbox-input, .form .option-input {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .form .checkbox-input + label, .form .option-input + label {
    display: inline-block;
    width: auto;
    color: var(--light_glay);
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  .form .checkbox-input:focus + label, .form .option-input:focus + label, .form .checkbox-input:active + label, .form .option-input:active + label {
    color: var(--light_glay);
  }
  .form .checkbox-input:checked + label, .form .option-input:checked + label {
    color: var(--main-white);
  }
  
  .form .button {
    font: inherit;
    line-height: normal;
    cursor: pointer;
    background: var(--main_gradient);
    color: var(--main-white);
    font-weight: bold;
    width: auto;
    border-radius: 12px;
    margin-left: auto;
    margin-top: 2em;
    font-weight: bold;
    padding: 0.5em 2em;

  }
  
  .form .button:active {
    position: relative;
    top: 1px;
    left: 1px;
  }
  .form option{
    color: var(--primary-color);
    background: var(--main-white);
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
  }
  .form option:hover{
    background: var(--primary-color);
    color: var(--main-white)
  }
  .form .field {
    width: 100%;
    margin: 0 0 1.5em 0;
  }
  @media screen and (min-width: 40em) {
    .form .field.half {
      width: calc(50% - 1px);
    }
  }
  .form .field.last {
    margin-left: auto;
  }
  .form .textarea {
    max-width: 100%;
  }
  .form .select {
    text-indent: 0.01px;
    text-overflow: "" !important;
  }
  .form .select::-ms-expand {
    display: none;
  }
  .form .checkboxes, .form .options {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
  }
  .form .checkbox, .form .option {
    float: left;
    margin: 1px;
  }
  
  .customSelect {
    pointer-events: none;
  }
  .customSelect:after {
    content: "";
    pointer-events: none;
    width: 0.5em;
    height: 0.5em;
    border-style: solid;
    border-color: var(--main-white);
    border-width: 0 3px 3px 0;
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
    right: 1em;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .customSelect.customSelectFocus:after {
    border-color: var(--main-white);
  }
  
  
  /* Form */
  /* table */
  /* links */
/* wrapper */
.pro-wrapper {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: auto;
  padding: 2px;
  border-radius: 2px;
  background: var(--main-white);
  color: var(--primary-color);
}

/* lists */
.row ul {
  margin: 0;
  padding: 30px auto;
}

.row ul li {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  display: inline-block;
  text-align: start;
	padding: 8px;
  width: 16%;
  box-sizing: border-box;
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .row ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 479px) {
  .row ul li {
    font-size: 13px;
  }
}

.title ul li {
  padding: 15px 13px;
}

.row ul li {
  padding: 5px 10px;
}

/* rows */
.row {
  padding: 20px 0;
  min-height: 80px;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-out;
  border-top: 1px solid var(--main-white);
}
.row a{
  text-decoration: none;
  color: var(--main-white);
}
.row:hover {
  background-color: var(--primary-color);
  height: auto;
  color: var(--main-white);
  border-left: 3px solid var(--primary-color);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}

@media only screen and (max-width: 767px) {
  .row:hover {
    height: 85px;
  }
}
@media only screen and (max-width: 359px) {
  .row:hover {
    height: 105px;
  }
}

.title {
  padding: 25px 0 5px 0;
  height: 80px;
  font-size: 30px;
  font-weight: 900;
  color: var(--main-white);
  background: var(--main_gradient);
  padding: 20px 0;
  min-height: 80px;
  font-size: 0;
  position: relative;
  overflow: hidden;
  transition: color 0.2s ease-out;
  border-top: 1px solid var(--main-white);
}

@media only screen and (max-width: 767px) {
  .title-hide {
    display: none;
  }
}

/* more content */
ul.more-content li {
  position: relative;
  top: 8px;
  font-size: 16px;
  margin: 0;
  padding: 10px 13px;
  display: none;
  height: 50px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--main-white);
}
@media only screen and (max-width: 767px) {
  ul.more-content li {
    font-size: 11px;
  }
}

/* small content */
.small {
  color: var(--dark-gray);
  font-size: 10px;
  padding: 0 10px;
  margin: 0;
}
@media only screen and (max-width: 767px) {
  .small {
    display: none;
  }
}
.icon-delete img,
.icon-sold img,
.icon-edit img {
  float: right;
  width: 30px;
  height: auto;
  padding: 3px;
  margin: auto 3px;
  background-color: var(--first-translate);
	border-radius: 15%;
}
li.action .icon-edit,
li.action .icon-sold,
li.action .icon-delete {
	display: none;
}
.row:hover .icon-edit,
.row:hover .icon-sold,
.row:hover .icon-delete,
.row:hover ul.more-content li {
	display: unset;
}
  /* table */
  /* dashboard */
  /* user things */
  @media (min-width: 640px) {
    .property-card {
      flex-direction: row;
      max-width: 100%;
    }
    .property-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .property-card .description {
      flex-basis: 60%;
    }
    .property-card .description:before {
      transform: skewX(-3deg);
      content: "";
      background: var(--main-white);
      width: 30px;
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      z-index: -1;
    }
    .property-card.alt {
      flex-direction: row-reverse;
    }
    .property-card.alt .description:before {
      left: inherit;
      right: -10px;
      transform: skew(3deg);
    }
    .property-card.alt .details {
      padding-left: 25px;
    }
    span.amount {
      color: var(--main-white);
      font-weight: 900;
      padding: 3px;
      margin: auto 6px;
      background-color: var(--third-translate);
      
    }
  }
  

.headline:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.5);
}
.inner {
  position: absolute;
  top: 20%;
  height: auto;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (min-width: 800px) {
  .inner {
    position: unset;
    min-height: 80vh;
    height: auto;
    width: 100%;
    padding:180px 90px 10px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
nav.scrolled {
    background:var(--primary-color);
    padding: 10px 0 0px 0;
    opacity: 0;
    border-bottom: 2px solid var(--main-white);
    animation: fade-in 0.50s 0.50s ease-in forwards;
    /* border-radius: 0 0 80% 80% / 40%; */
  }
  .admin{
display: none;
  }
  .user{
    display: none;
  }
.brand-box {
  height: 75px;
  float: left;
}
.brand-box:before, .brand-box:after {
  position: absolute;
  font-size: 7em;
  font-weight: 300;
  line-height: 0;
  color: var(--main-white);
  top: 25px;
}
.brand-box:before {
  left: 20px;
}
.brand-box:after {
  left: 34px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* footer */
.footer{
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: var(--main_gradient);
  width: 100%;
  line-height: 12px;
  text-decoration: none;
}
.footer .logo img{
  width: 60px;
  margin-top: 50px;
  height: auto; 
}
.footer .section h3{
  color: var(--main-white);
  font-weight: normal;
  text-align: right;
  text-decoration: underline;
  
}
.footer .section{
padding: 40px 0;
color: var(--main-white);
}
.section ul li{
  padding: 10px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section ul li a{
  text-decoration: none;
  color: var(--main-white)
}
.bottom{
  position: relative;
  bottom: 0px;
  width: 100%;
  line-height: 2;
  color: var(--main-white);
  padding: 2px auto;
  text-align: center;
  background: var(--primary-color)
}
/* footer */
@media only screen and (max-width: 767px){
    h1{
        font-size: 1px;
    }
    h2{
        font-size: 2px;
    }
    .logo {
      width: 10px;
      margin-left: 5px;
      height: auto; 
    }
    .modal-content{
      height: 1200px;
    }
.modal{
  margin-top: 60%;
}

.nav-list {
	display: none;
  position: absolute;
  flex-direction: column;
	background-color: var(--primary-color);
	min-width: 120px;
	box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 2%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
	border: 1px solid var(--main-white);
}

.nav-list ul {
  display: flex;
  flex-direction: column;
}
.md-icon{
  display: block;
}

.property-card{
        width: auto;
        margin: 2px 10px;
    }
    
    nav.scrolled {
    display: block;
    font-size: 8px;
    background:var(--primary-color);
    padding: 10px 0 0px 0;
    opacity: 0;
    border-bottom: 2px solid var(--main-white);
    animation: fade-in 0.50s 0.50s ease-in forwards;
      }
      .inner{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }

      .text-box {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 12px;
        margin: auto;
      }
      .text-box h1, .text-box h2{
        display: none;
      }
      .search-form{
        display: flex;
        margin-left: 100%;
        margin-top: 350px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .search-form > * {
      margin-bottom: 5px;
      }
      .agent{
        border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  padding: 0px;
  width: 100%;
  margin: 0px;
  background: transparent;
      }
      .wrapper{
       position: absolute;
       top: 10px;
       width: 70%;
       height: auto;
       justify-items: center;
       align-content: center;
       align-self: center;
      perspective: 600px;  
      /* left: 50%; */
      margin: auto;
      }
     
      .brand-box{
        display: none
      }
      menu{
        display:none
      }
      .footer{
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
      .footer .section h3{
        font-size: 24px;
        padding: 2px 20px;
        font-weight: bold;
        text-align: left;
        
      }
      .footer .section{
      padding: 5px 0;
      color: var(--main-white);
      border-bottom: 2px solid var(--primary-color)
      }
      .footer .section:first-child{
        display: none;
        }
      .section ul li{
        padding: 10px 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      

}

